# Created by .ignore support plugin (hsz.mobi)
### Packer template
# Cache objects
packer_cache/
output-virtualbox-iso/
iso/*
!iso/.keep
.vagrant/

# For built boxes
box/virtualbox/*
!box/virtualbox/.keep
box/vmware/*
!box/vmware/.keep

# Images
ubuntu-14.04.2-server-amd64.iso

# Ansible Galaxy Roles
#roles/composer
#roles/memcached
#roles/nginx
#roles/nodejs
#roles/php-fpm
