<Directory /var/www/{{ item.id }}/htdocs>
  AuthType Basic
  AuthBasicProvider file
  AuthUserFile /etc/htpasswd/{{ item.auth.file }}
  AuthName "{{ item.auth.name|default(item.id) }}"
  Require valid-user
</Directory>
