{% for value in item.redirects|default([]) %}
{% if item.ssl is defined %}
<VirtualHost {{ item.ip|default('*') }}:{{item.ssl.port|default(443)}}>
  ServerName {{ value }}

  {% include "etc-apache2-sites-available-site/ssl.j2" %}

  # logging
  LogLevel warn
  ErrorLog  /var/log/apache2/error-{{ item.id }}.log
  CustomLog /var/log/apache2/access-{{ item.id }}.log combined

  # redirect
  Redirect permanent / https://{{ item.name }}/
</VirtualHost>
{% endif %}
<VirtualHost {{ item.ip|default('*') }}:{{item.port|default(80)}}>
  ServerName {{ value }}

  # logging
  LogLevel warn
  ErrorLog  /var/log/apache2/error-{{ item.id }}.log
  CustomLog /var/log/apache2/access-{{ item.id }}.log combined

  # redirect
  Redirect permanent / http://{{ item.name }}/
</VirtualHost>
{% endfor %}