# {{ ansible_managed }}

{% include "etc-apache2-sites-available-site/redirect.j2" %}

{% if item.ssl is defined %}
<VirtualHost {{ item.ip|default('*') }}:{{item.ssl.port|default(443)}}>

{% include "etc-apache2-sites-available-site/body.j2" %}

{% include "etc-apache2-sites-available-site/ssl.j2" %}

</VirtualHost>
{% endif %}

<VirtualHost {{ item.ip|default('*') }}:{{item.port|default(80)}}>

{% include "etc-apache2-sites-available-site/body.j2" %}

</VirtualHost>